.image {
    width: 700px;
    height: 700px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-image: url("basketball_court_image.jpg");
    background-size: cover;
}

.players{
	padding-left: 300px;
	padding-top: 300px;


}

#date {
	margin-left: 20px;
}




h1 {
	font-size: 3.5em;
	color: black;
	font-weight: bold;
}

p {
	font-size: 1.2em;
	color: black;
	font-weight: bold;
}
